@model Libraary.Web.Models.Libraries.LibraryViewModel[]
@{
    ViewData["Title"] = "All Libraries";
}

    <div class="custom-table">
        <div class="header">Libraries</div>
        <table>
            <tr>
                <th scope="col">Library name</th>
                <th scope="col">Owner</th>
                <th scope="col">Details</th>
            </tr>
            @foreach (var library in Model)
            {
                <tr>
                    <td>@library.Name</td>
                    <td>@library.Owner</td>
                    <td>
                        <a asp-controller="Libraries"
                           asp-action="Details"
                           asp-route-libraryId="@library.Id"
                           class="btn btn-outline-info"
                           role="button">
                            Details
                        </a>
                    </td>
                </tr>
            }
        </table>
    </div>