@model Libraary.Web.Models.Authors.AuthorViewModel[]
@{
    ViewData["Title"] = "All Authors";
}

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Nationality</th>
            <th scope="col">Books count</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Length; i++)
        {
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@Model[i].Name</td>
                <td>@Model[i].Nationality</td>
                <td>@Model[i].BooksCount</td>
            </tr>
        }
    </tbody>
</table>