@model Libraary.Web.Models.Authors.AuthorViewModel[]
@{
    ViewData["Title"] = "All Authors";
}

<div class="custom-table">
    <div class="header">Authors</div>
    <table>
        <tr>
            <th>Name</th>
            <th>Nationality</th>
            <th>Books count</th>
        </tr>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.Name</td>
                <td>@author.Nationality</td>
                <td>@author.BooksCount</td>
            </tr>
        }
    </table>
</div>