@{
    ViewData["Title"] = "Home Page";
}

@if (@User.IsInRole("Owner"))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Librarians
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" asp-controller="Libraries" asp-action="All">View all</a>
            <a class="dropdown-item" asp-controller="Libraries" asp-action="Add">Add new librarian</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Libraries" asp-action="Details">Details about my library</a>
    </li>
}
