@model Libraary.Web.Models.Books.BookViewModel[]
@{
    ViewData["Title"] = "Home Page";
}





<div class="books">
    @for (var i = 0; i < Model.Length; i++)
    {
        <div class="bookContainer grow">
            <a asp-controller="Books"
               asp-action="Details"
               asp-route-bookId="@Model[i].Id"
               target="_blank">
                <img src="@Model[i].Picture" width="350" height="495" />
                <br />
                @Model[i].Name
            </a>
        </div>
    }
</div>