@model Libraary.Web.Models.Librarians.LibrarianDetailsViewModel[]
@{
    ViewData["Title"] = "All Librarians";
}

<div class="custom-table">
    <div class="header">Librarians</div>
    <table>
        <tr>
            <th>Full Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        @foreach (var librarian in Model)
        {
            <tr>
                <td>@librarian.FullName</td>
                <td>@librarian.Address</td>
                <td>@librarian.Email</td>
                <td>@librarian.Phone</td>
            </tr>
        }
    </table>
</div>