/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}


.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 30px;
}

    .rating span.star, .rating span.star {
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        display: inline-block;
    }

        .rating span.star:hover, .rating span.star:hover {
            cursor: pointer;
        }

        .rating span.star:before, .rating span.star:before {
            content: "★";
            padding-right: 5px;
            color: #BEC3C7;
        }

        .rating span.star:hover:before, .rating span.star:hover:before, .rating span.star:hover ~ span.star:before, .rating span.star:hover ~ span.star:before {
            content: "★";
            color: #41CAC0;
        }

        .rating span.star.active::before, .rating span.star.active::before, .rating span.star.active ~ span.star::before, .rating span.star.active ~ span.star::before {
            color: #41cac0;
            content: "★";
        }

#headerBackground {
    width: 100%;
    min-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #ffffff;
    z-index: 3;
    opacity: 0.6;
    box-shadow: 0px 0px 18px 0px #cccccc;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 102px;
    }

#header {
    width: 100%;
    min-height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 4;
    text-align: center;
}

#page {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 90px;
    padding-bottom: 140px;
    background-color: #ffffff;
    max-width: 1100px;
}

#frontpage {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
}

#contents {
    float: left;
    width: 45%;
    text-align: left;
}

.entry-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

}

.contents {
    text-align: left;
    list-style-type: none;
    margin: auto;
    column-count: 2;
    font-size: 14px;
    counter-reset: chapterCount 0 appendixCount 0;
}

.books {
    margin: auto;
    padding-bottom: 50px;
    padding-top: 20px;
}

.bookContainer {
    display: inline-block;
}

.grow {
    transition: all .3s ease-in-out;
    transform: scale(0.9);
}
