@model Libraary.Web.Models.Publishers.PublisherBindingModel
@{
    ViewData["Title"] = "Add Publisher";
}

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="URLAddress"></label>
        <input asp-for="URLAddress" class="form-control" placeholder="URL address">
        <span asp-validation-for="URLAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Country"></label>
        <input asp-for="Address.Country" class="form-control" placeholder="Country">
        <span asp-validation-for="Address.Country" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Town"></label>
        <input asp-for="Address.Town" class="form-control" placeholder="Town">
        <span asp-validation-for="Address.Town" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street"></label>
        <input asp-for="Address.Street" class="form-control" placeholder="Street">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Zip"></label>
        <input asp-for="Address.Zip" class="form-control" placeholder="Zip">
        <span asp-validation-for="Address.Zip" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script>
    confirm("Owner has to be registered!");
</script>
}