@model Libraary.Web.Models.Publishers.PublisherViewModel[]
@{
    ViewData["Title"] = "All Publishers";
}

<div class="custom-table">
    <div class="header">Publishers</div>
    <table>
        <tr>
            <th>Name</th>
            <th>URL</th>
        </tr>
        @foreach (var publisher in Model)
        {
            <tr>
                <td>@publisher.Name</td>
                <td>@publisher.URL</td>
            </tr>
        }
    </table>
</div>